{
  "presets" : ["es2015", "react"],
  "plugins": [
      ["module-resolver", {
        "root": ["./"],
        "extensions": [ ".jsx", ".js" ],
        "alias": {
          "test": "./test",
          "components": "./js/components",
          "modules": "./js/modules",
          "views": "./js/views",
          "controllers": "./js/controllers",
          "jquery": "./js/vendors/jquery.min.js"
        }
      }]
    ]
}